<h1>Sign In</h1>

<form method="POST" action="<%= session_url %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="sign-in-email">Email</label>
    <input type="text" class="sign-in-email" name="user[email]" value="<%= @user.email %>">

    <label for="sign-in-password">Password</label>
    <input type="password" class="sign-in-password" name="user[password]">

    <input type="submit" value="Sign In">
</form>

<% if flash.now[:errors] %>
    <% flash.now[:errors].each do |error| %>
        <%= error %>
    <% end %>
<% end %>