<h1>All Users</h1>

<% if @users %>
    <% @users.each do |user| %>
        <a href="<%= user_url(user) %>"><%= user.email %></a>
    <% end %>
<% end %>

<form method="GET" action="<%= new_user_url %>">
    <input type="submit" value="Create New User">
</form>